asgiref==3.12.1
attrs==26.1.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==44.0.0
Django==6.1
django-allauth==65.3.0
django-filter==26.1
djangorestframework==3.18.0
drf-yasg==1.21.15
Faker==40.36.0
idna==3.10
importlib_resources==7.1.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
Markdown==3.10.3
oauthlib==3.2.2
packaging==26.3
pycparser==2.22
PyJWT==2.10.1
pytz==2026.3.post1
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.3
requests-oauthlib==2.0.0
rpds-py==2026.6.3
setuptools==83.0.0
sqlparse==0.5.1
swagger-spec-validator==3.0.4
typing_extensions==4.16.0
tzdata==2024.1
uritemplate==4.2.0
urllib3==2.2.3
wheel==0.47.0
