asgiref==3.8.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==44.0.0
Django==5.0.7
django-allauth==65.3.0
Faker==40.36.0
idna==3.10
oauthlib==3.2.2
packaging==26.3
pycparser==2.22
PyJWT==2.10.1
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==83.0.0
sqlparse==0.5.1
tzdata==2024.1
urllib3==2.2.3
wheel==0.47.0
